.ins,
.insDark {
  font-size: 14px;
  margin: 46px 0;
  color: black;
  animation: appear 1s, blink 3s infinite;
}

.insDark {
  color: white;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .ins,
  .insDark {
    margin-top: 6.5rem;
  }
}
