@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background: url(./assets/images/bg-desktop-light.jpg) top center / contain
    no-repeat;
  min-height: 300px;
  text-align: center;
  transition: 0.3s;
}
.darkMode {
  background: url(./assets/images/bg-desktop-dark.jpg) #181824 top center /
    contain no-repeat;
}
